.embed_object {width:100%; height:100%; border-style:none; border-width:0px;}
.title {font-size:60px; font-family:'Montserrat'; text-align:center;}
.text_primary {font-size:20px; font-family:'Montserrat'; text-align:center}

/*RT*/ 
.rt-title{font-size:32px; font-family:'Arvo'; text-align:center}
.rt-subtitle{font-size:15px; font-family:'Arvo'; text-align:center; font-style:italic;}
.rt-circular {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(http://blogs.bluekea.com/davidortega/files/2013/01/Montb_liard1.jpg) no-repeat;
	background-size: auto 200px;
	background-position: center; 
	float: none;
        margin: 0 auto;
	}
	
/*RH*/ 
.rt-titleh{font-size:32px; font-family:'Arvo'; text-align:center}
.rt-subtitleh{font-size:15px; font-family:'Arvo'; text-align:center; font-style:italic;}
.rt-circularh {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(http://images6.fanpop.com/image/photos/34800000/Lelouch-lelouch-lamperouge-zero-34812534-1280-720.jpg) no-repeat;
	background-size: auto 200px;
	background-position: center; 
	float: none;
        margin: 0 auto;
	}

	/*OA*/ 
.rt-titleo2{font-size:32px; font-family:'Arvo'; text-align:center}
.rt-subtitleo2{font-size:15px; font-family:'Arvo'; text-align:center; font-style:italic;}
.rt-circularo2 {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(http://a3.files.biography.com/image/upload/c_fill,cs_srgb,dpr_1.0,g_face,h_300,q_80,w_300/MTIwNjA4NjMzNzAzNzI4NjUy.jpg) no-repeat;
	background-size: auto 200px;
	background-position: center; 
	float: none;
        margin: 0 auto;
	}

/*m5uf2*/
.m5uf2-title{font-size:30px; font-family:'Arvo'; text-align:center}
.m5uf2-subtitle{font-size:15px; font-family:'Arvo'; text-align:center; font-style:italic;}
.m5uf2-circular {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(http://servicevirtualization.com/blogs/1001-2000/1059-shutterstock_125671175.jpg) no-repeat;
	background-size: auto 200px;
	background-position: center; 
	float: none;
    margin: 0 auto;
	}


/*AG*/ 
.ag-title{font-size:32px; font-family:'Arvo'; text-align:center}
.ag-subtitle{font-size:15px; font-family:'Arvo'; text-align:center; font-style:italic;}
.ag-circular {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(https://www.random.org/analysis/randbitmap-rdo-section.png) no-repeat;
	background-size: auto 200px;
	background-position: center; 
	float: none;
        margin: 0 auto;
	}

/*AGB*/
.titleAGB{font-size:32px; font-family:'Arvo'; text-align:center}
.subtitleAGB{font-size:15px; font-family:'Arvo'; text-align:center; font-style:italic;}
.circularAGB{
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(http://archivoimg.globovision.com/wp-content/uploads/2015/08/farruko2.jpg) no-repeat;
	background-size: auto 200px;
	background-position: center; 
	float: none;
        margin: 0 auto;
	}
/*SME*/
.titleSME{font-size:32px; font-family:'Arvo'; text-align:center}
.subtitleSME{font-size:15px; font-family:'Arvo'; text-align:center; font-style:italic;}
.circularSME{
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(http://archivoimg.globovision.com/wp-content/uploads/2015/08/farruko2.jpg) no-repeat;
	background-size: auto 200px;
	background-position: center; 
	float: none;
        margin: 0 auto;
	}

/*KBA*/ 
.kba-title{font-size:2em; font-family:'Arvo'; text-align:center}
.kba-subtitle{font-size:0.9375em; font-family:'Arvo'; text-align:center; font-style:italic;}
.kba-circular {
	width: 12.5em;
	height: 12.5em;
	border-radius: 6.25em;
	-webkit-border-radius: 6.25em;
	-moz-border-radius: 6.25em;
	background: url(../images/kba_image.png) no-repeat;
	background-size: auto 12.5em;
	background-position: center; 
	float: none;
        margin: 0 auto;
}
	
/*GMJ*/
.rt-circularGui {
		width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(https://49.media.tumblr.com/a959a90a147a55ffb81ad59aa26781ae/tumblr_mztb16WuC21rjznlyo1_500.gif) no-repeat;
	background-size: auto 200px;
	background-position: center; 
	float: none;
        margin: 0 auto;
	}
/*  INICIO CSS DE - PGT  */
.pgt-title{font-size:32px; font-family:'Arvo'; text-align:center}
.pgt-subtitle{font-size:15px; font-family:'Arvo'; text-align:center; font-style:italic;}
.pgt-circular {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(http://qu4k3.com/q.gif) no-repeat;
	background-size: auto 200px;
	background-position: center; 
	float: none;
        margin: 0 auto;
	}
/*  FIN CSS DE - PGT  */
