/*CSS for webteca. M5 - UF2. v1.2*/
.embed_object {width:100%; height:100%; border-style:none; border-width:0px;}
.title {font-size:60px; font-family:'Montserrat'; text-align:center;}
.text_primary {font-size:20px; font-family:'Montserrat'; text-align:center}

/*RT*/ 
.rt-title{font-size:32px; font-family:'Arvo'; text-align:center}
.rt-subtitle{font-size:15px; font-family:'Arvo'; text-align:center; font-style:italic;}
.rt-circular {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(http://blogs.bluekea.com/davidortega/files/2013/01/Montb_liard1.jpg) no-repeat;
	background-size: auto 200px;
	background-position: center; 
	float: none;
        margin: 0 auto;
	}
	
/*RH*/ 
.rt-titleh{font-size:32px; font-family:'Arvo'; text-align:center}
.rt-subtitleh{font-size:15px; font-family:'Arvo'; text-align:center; font-style:italic;}
.rt-circularh {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(http://images6.fanpop.com/image/photos/34800000/Lelouch-lelouch-lamperouge-zero-34812534-1280-720.jpg) no-repeat;
	background-size: auto 200px;
	background-position: center; 
	float: none;
        margin: 0 auto;
	}

/*OA*/ 
.rt-titleo{font-size:32px; font-family:'Arvo'; text-align:center}
.rt-subtitleo{font-size:15px; font-family:'Arvo'; text-align:center; font-style:italic;}
.rt-circularo{
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(http://a3.files.biography.com/image/upload/c_fill,cs_srgb,dpr_1.0,g_face,h_300,q_80,w_300/MTIwNjA4NjMzNzAzNzI4NjUy.jpg) no-repeat;
	background-size: auto 200px;
	background-position: center; 
	float: none;
        margin: 0 auto;
	}

/*m5uf2*/
.m5uf2-title{font-size:32px; font-family:'Arvo'; text-align:center}
.m5uf2-subtitle{font-size:15px; font-family:'Arvo'; text-align:center; font-style:italic;}
.m5uf2-circular {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(http://servicevirtualization.com/blogs/1001-2000/1059-shutterstock_125671175.jpg) no-repeat;
	background-size: auto 200px;
	background-position: center; 
	float: none;
    margin: 0 auto;
	}

