/*CSS for webteca. M5 - UF2. v1.1*/
.embed_object {width:100%; height:100%; border-style:none; border-width:0px;}
.title {font-size:40px; font-family:'Montserrat'; text-align:center;}
.text_primary {font-size:20px; font-family:'Montserrat'; text-align:center}

/*RT*/ 
.rt-title{font-size:32px; font-family:'Arvo'; text-align:center}
.rt-subtitle{font-size:15px; font-family:'Arvo'; text-align:center; font-style:italic;}
.rt-circular {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(http://blogs.bluekea.com/davidortega/files/2013/01/Montb_liard1.jpg) no-repeat;
	background-size: auto 200px;
	background-position: center; 
	float: none;
        margin: 0 auto;
	}
	
/*m5uf2*/
.m5uf2-title{font-size:32px; font-family:'Arvo'; text-align:center}
.m5uf2-subtitle{font-size:15px; font-family:'Arvo'; text-align:center; font-style:italic;}
.m5uf2-circular {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(http://servicevirtualization.com/blogs/1001-2000/1059-shutterstock_125671175.jpg) no-repeat;
	background-size: auto 200px;
	background-position: center; 
	float: none;
    margin: 0 auto;
	}
